<h1>Desafio jQuery Alert</h1>

<strong class='alertDismissing' id='text'> Holy guacamole! You should check in on some of those fields below. <button class='alertDismissing' id='hide'>X</button></strong>

<h1>Desafio jQuery collapse</h1>
<p>
  <button class="btn2 btn-primary hide" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Hide
  </button>
  <button class="btn2 btn-primary show" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Show
  </button>
</p>
<div class="collapse" id="collapseExample">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
</div>

<h1>Desafio jQuery accordionExample</h1>

<button id='slide1'>Slide</button>
<p id='collapseOne'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure perspiciatis impedit tenetur, illo iusto veritatis similique minus harum doloremque, beatae aspernatur. Beatae, ex debitis architecto temporibus perspiciatis placeat autem neque. </p>
<br>
<button id='slide2'>Slide2</button>
<p id='collapseTwo'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure perspiciatis impedit tenetur, illo iusto veritatis similique minus harum doloremque, beatae aspernatur. Beatae, ex debitis architecto temporibus perspiciatis placeat autem neque. </p>
<br>
<button id='slide3'>Slide3</button>
<p id='collapseThree'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure perspiciatis impedit tenetur, illo iusto veritatis similique minus harum doloremque, beatae aspernatur. Beatae, ex debitis architecto temporibus perspiciatis placeat autem neque. </p>
