// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alertDismissing {
    background-color: #ffc107;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem ;
    border: none
}

.btn2 {
    padding: 0.5rem;

}

#collapseOne, #collapseTwo, #collapseThree {
    display: none;
}